//==============================================================================
// Component dependences & settings
//==============================================================================

$basefont: if( global-variable-exists(basefont), $basefont, 16px );





/*==============================================================================
 UNIT

 A generic component can be used with grid or separately

 Markup:
 <div class="b-unit">
      [content...]
 </div>
==============================================================================*/

.#{$namespace}unit {
    font-size: $basefont+"\9"; // IE8 & below hack cause they don't support rems & it's a must to reset the font size here.
    font-size: $basefont;
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: top;
}



.#{$namespace}unit--centered {
    display: block;
    margin: 0 auto;
}
